<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div id="contenedor">
        <div id="cabecera">
            <div id="logo">
                <h1></h1>
            </div>
        <div id="buscador">
            <form action="#" method="post">
                Buscar &nbsp;
                <input name="busqueda" type="text"/>
            </form>
        </div>
        </div>
        <div id="menu">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Category")">Categorias</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Product")">Productos</a>
                </li>
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("LogOut","Auth")">Log Out</a>
                    }
                </li>
            </ul>
        </div>
        <div id="contenido">
            <div id="principal">
                @RenderBody() @*Donde se van a anexar todas las paginas parciales que voy a utilizar*@
            </div>
            <div id="secundario">
                <h2> Opciones secundarias</h2>
            </div>
        </div>
        <div id="pie">
            <p> Universidad Abierta Interamericana</p>
            <p> Lenguajes de administración para la administración</p>
            <p> Marketplace Grupo 3 - 2021</p>
        </div>
    </div>
</body>
</html>
