@model Marketplace.Entities.Models.LogInModel

@{ ViewBag.Title = "Delete"; }

<h2>Eliminar usuario</h2>

<h3>Esta seguro que quiere borrar el usuario?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnUrl)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {@*Html.AntiForgeryToken()*@

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-default" /> |
                        @Html.ActionLink("Volver", "Index")
                    </div>}
</div>
